In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Change path of csv
df = pd.read_csv("/content/drive/MyDrive/FFFwithBasicLangLabels_HALF1.csv", dtype = str, on_bad_lines='skip')

In [6]:
df.head()

,Unnamed: 0,Unnamed: 0.1,count,id,tweet,language
0,0,0,1,1582034516138303490,@KP_Aashish @zoo_bear Demonetisation ka kamal !,hi
1,1,1,2,1582024859906777088,@srinivasiyc Bhakton ke cartoon ABBA ki list l...,hi
2,2,2,3,1582023505197289475,@AutomationEng07 @SupriyaShrinate Russian war ...,hi
3,3,3,4,1582023162052898817,@INCBANSAL @ajitanjum @INCIndia @SupriyaShrina...,en
4,4,4,5,1582022682870132737,@gganeshhh @am_kalki They got surgical strikes...,en

In [7]:
len(df["tweet"])

84870

In [8]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'count', 'id', 'tweet', 'language'], dtype='object')

In [11]:
df = df.drop(['Unnamed: 0'], axis=1)

In [12]:
df = df.drop(['Unnamed: 0.1'], axis=1)

In [13]:
df.columns

Index(['count', 'id', 'tweet', 'language'], dtype='object')

In [14]:
tweet = df["tweet"]

In [21]:
count = df["count"]
id = df["id"]
language = df["language"]

In [15]:
len(tweet)

84870

In [16]:
new_tweets = list()
for tweet in tweet:
  line = tweet.split(" ")
  new_line = ""
  for i in line:
    if len(i) != 0 and i[0] == '@':
      i = "@MASK"
    new_line += i + " "
  new_tweets.append(new_line)

In [17]:
print(new_tweets[29])

@MASK There should be Jail Bharo Andolan in this country because Delhi Police is unable to save the poor but goes to Haryana from Punjab Police to save Bagga. Rajendra Pal interrogates Gautam, this is the condition of the capital. After the demonetisation of the BJP,

In [19]:
new_df = pd.DataFrame(columns=['count', 'id', 'tweet', 'language'])

In [20]:
new_df["tweet"] = new_tweets

In [23]:
new_df["count"] = count
new_df["id"] = id
new_df["language"] = language

In [24]:
new_df.head()

,count,id,tweet,language
0,1,1582034516138303490,@MASK @MASK Demonetisation ka kamal !,hi
1,2,1582024859906777088,@MASK Bhakton ke cartoon ABBA ki list lambi ha...,hi
2,3,1582023505197289475,@MASK @MASK Russian war has benefited India . ...,hi
3,4,1582023162052898817,@MASK @MASK @MASK @MASK NATION MUST EVALUATE T...,en
4,5,1582022682870132737,"@MASK @MASK They got surgical strikes, demonet...",en

In [25]:
len(new_df)

84870

In [26]:
new_df.to_csv("FFF_HALF1_masked.csv")